CameraControl/scheme.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CameraControl">
    <xs:complexContent>
      <xs:annotation>
        <xs:documentation>
          Компонент предназначен для вывод на экран трехмерных сцен и управления камерой.
          Камера может изменять наклон и направление взгляда относительно заданной позиции.
          Можно задать пресеты настроек камеры, которые состоят из координат рассматриваемой
          точки, дистанции до камеры, углов направления взгляда на эту точку.
          Пресеты могут быть применены анимированно. В пресетах может содержаться не вся информация,
          а только та, что необходима для применения и перезаписи.
          При горизонтальном перемещении пальца по экрану камера вращается вокруг вертикальной оси.
          При вертикальном движении по экрану камера меняет свой наклон.
          При вращении колесика мышки или сведении-разведении двух пальцев на поверхности экрана,
          камера приближается или удаляется от наблюдаемой точки.
          При клике в задний план отправляется событие Event.
        </xs:documentation>
      </xs:annotation>
      <xs:extension base="Control">
        <xs:sequence>
          <xs:element name="Event" type="Event" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                Событие клика в задний план камеры.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BackgroundColor" type="ColorARGB">
            <xs:annotation>
              <xs:documentation>
                Цвет фона камеры.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CameraOrientationPresets" type="CameraOrientationPreset" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>
                Список пресетов для настройки камеры.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="OrthographicCameraSize" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Высота ортографической камеры.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Projection" type="DisplayMode">
          <xs:annotation>
            <xs:documentation>
              Выбор между ортографической и перспективной камерой.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FrustumBottom" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Настройка нижней границы для ручного создания пирамиды видимости перспективной камеры.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FrustumRight" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Настройка правой границы для ручного создания пирамиды видимости перспективной камеры.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FrustumTop" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Настройка верхней границы для ручного создания пирамиды видимости перспективной камеры.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FrustumLeft" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Настройка левой границы для ручного создания пирамиды видимости перспективной камеры.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="StopMotionWhenPointerDown" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>
              Нужно ли остановить движение камеры, если поинтер опустился.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="UseCustomFrustum" type="xs:boolean" use="required">
          <xs:annotation>
            <xs:documentation>
              Будет ли использоваться ручное создание пирамиды видимости.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ClearDepthOnly" type="xs:boolean" use="required">
          <xs:annotation>
            <xs:documentation>
              Оставлять ли задний план камеры прозрачным или, в противном случае, он будет залит цветом BackgroundColor.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CullingMask" type="xs:string">
          <xs:annotation>
            <xs:documentation>
              Опциональное свойство. Название слоя, который видит камера.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Blur" type="xs:boolean" use="required">
          <xs:annotation>
            <xs:documentation>
              Включение эффекта размытия.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ZOrder" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Параметр для настройки сортировки нескольких камер. Изображения камер выводятся на экран в порядке от меньшего к большему значению параметра.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TransparencySortMode" type="DisplayMode">
          <xs:annotation>
            <xs:documentation>
              Способ сортировки прозрачных объектов для их отрисовки на экране.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Fov" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Вертикальный угол раствора перспективной камеры.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DisableCameraAnimation" type="xs:boolean" use="required">
          <xs:annotation>
            <xs:documentation>
              Будет ли камера переключаться между пресетами мгновенно, без анимации.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetOffsetZ" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Смещение рассматриваемой точки по оси Z.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetOffsetY" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Смещение рассматриваемой точки по оси Y.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetOffsetX" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Смещение рассматриваемой точки по оси X.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetOffsetXMin" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Минимальное смещение рассматриваемой точки по оси X.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetOffsetYMin" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Минимальное смещение рассматриваемой точки по оси Y.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetOffsetZMin" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Минимальное смещение рассматриваемой точки по оси Z.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetOffsetXMax" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Максимальное смещение рассматриваемой точки по оси X.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetOffsetYMax" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Максимальное смещение рассматриваемой точки по оси Y.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetOffsetZMax" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Максимальное смещение рассматриваемой точки по оси Z.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="YDeg" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Угол наклона камеры.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="XDeg" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Угол поворота камеры вокруг вертикальной оси.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ZoomDampening" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Настройка инерционности камеры. Чем меньше значение, тем у камеры больше инерции.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ZoomRate" type="xs:int" use="required">
          <xs:annotation>
            <xs:documentation>
              Насколько быстро будет двигаться камера при вращении колесика мышки.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="XMaxLimit" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Максимальный угол поворота вокруг вертикальной оси.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="XMinLimit" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Минимальный угол поворота вокруг вертикальной оси.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="YMaxLimit" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Максимальный угол наклона камеры.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="YMinLimit" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Минимальный угол наклона камеры.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="NoXLimit" type="xs:boolean" use="required">
          <xs:annotation>
            <xs:documentation>
              Отключение ограничения вращения вокруг вертикальной оси.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="YSpeed" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Скорость изменения наклона камеры.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="XSpeed" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Скорость вращения вокруг вертикальной оси.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="MinDistance" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Минимальное расстояние от камеры до наблюдаемой точки.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="MaxDistance" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Максимальное расстояние от камеры до наблюдаемой точки.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Distance" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Расстояние от камеры до наблюдаемой точки.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="UseCustomFarClipPlane" type="xs:boolean" use="required">
          <xs:annotation>
            <xs:documentation>
              Будут ли использоваться настройки дальней плоскости обрезания.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FarClipPlane" type="xs:float" use="required">
          <xs:annotation>
            <xs:documentation>
              Расстояние от камеры до дальней плоскости.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FlyingMode" type="CameraFlyingMode" default="FlyAroundPoint">
          <xs:annotation>
            <xs:documentation>
              Режим полёта камеры.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ZoomToPoint" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>
              Признак приближения камеры в сторону курсора (не применимо к режиму FlyAroundPoint).
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CameraOrientationPreset">
    <xs:complexContent>
      <xs:annotation>
        <xs:documentation>
          Список пресетов для настройки камеры.
        </xs:documentation>
      </xs:annotation>
      <xs:extension base="Bindable">
        <xs:sequence/>
        <xs:attribute name="MinDistance" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Минимальное расстояние от камеры до наблюдаемой точки.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="MaxDistance" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Максимальное расстояние от камеры до наблюдаемой точки.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Distance" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Расстояние от камеры до наблюдаемой точки.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="XDeg" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Угол поворота камеры вокруг вертикальной оси.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="YDeg" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Угол наклона камеры.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
		<xs:attribute name="XMaxLimit" type="xs:int">
          <xs:annotation>
            <xs:documentation>
              Максимальный угол поворота вокруг вертикальной оси.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="XMinLimit" type="xs:int">
          <xs:annotation>
            <xs:documentation>
              Минимальный угол поворота вокруг вертикальной оси.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="YMaxLimit" type="xs:int">
          <xs:annotation>
            <xs:documentation>
              Максимальный угол наклона камеры.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="YMinLimit" type="xs:int">
          <xs:annotation>
            <xs:documentation>
              Минимальный угол наклона камеры.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetOffsetX" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Смещение рассматриваемой точки по оси X.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetOffsetY" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Смещение рассматриваемой точки по оси Y.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetOffsetZ" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Смещение рассматриваемой точки по оси Z.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetOffsetXMin" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Минимальное смещение рассматриваемой точки по оси X.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetOffsetYMin" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Минимальное смещение рассматриваемой точки по оси Y.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetOffsetZMin" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Минимальное смещение рассматриваемой точки по оси Z.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetOffsetXMax" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Максимальное смещение рассматриваемой точки по оси X.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetOffsetYMax" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Максимальное смещение рассматриваемой точки по оси Y.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetOffsetZMax" type="xs:float">
          <xs:annotation>
            <xs:documentation>
              Максимальное смещение рассматриваемой точки по оси Z.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FlyingMode" type="CameraFlyingMode" default="FlyAroundPoint">
          <xs:annotation>
            <xs:documentation>
              Режим полёта камеры.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ZoomToPoint" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>
              Признак приближения камеры в сторону курсора (не применимо к режиму FlyAroundPoint).
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="PresetID" type="xs:string">
          <xs:annotation>
            <xs:documentation>
              Идентификатор пресета.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CameraControlCommand">
    <xs:restriction base="xs:string">
      <xs:enumeration value="set">
        <xs:annotation>
          <xs:documentation>Включает или выключает эффект размытия в зависимости от значения.
            <Param>Blur (boolean)</Param>
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="applypreset">
        <xs:annotation>
          <xs:documentation>Применяет настройки камеры, указанные в пресете с идентификатором, переданным в параметре PresetID. Если указанный пресет совпадает с текущим пресетом, то указанные в пресете параметры применются при Force = true. Если Force =
            false, повторное применение параметров из пресета не произойдет.
            <Param>PresetID (string), Force (boolean)</Param>
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CameraOrientationPoint">
	<xs:complexContent>
		<xs:extension base="Bindable">
			<xs:sequence>
				<xs:element name="Event" type="Event" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="PointId" type="xs:string" use="required"/>
		</xs:extension>
	</xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CameraFlyingMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FlyAroundPoint">
        <xs:annotation>
          <xs:documentation>
		    Стандартный режим: вращение вокруг точки.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FlyXY">
        <xs:annotation>
          <xs:documentation>
		    Передвижение в плоскости XY.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FlyXZ">
        <xs:annotation>
          <xs:documentation>
		    Передвижение в плоскости XZ.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FlyYZ">
        <xs:annotation>
          <xs:documentation>
		    Передвижение в плоскости YZ.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
